<form (ngSubmit)="displayResult()">
    <div class="input-group">
        <p>
            <label for="initial-investmentid">Initital Investment</label>
            <input id="initial-investmentid" type="number" name="initial-investment" [(ngModel)] = "initialInvestment" />
        </p>
        <p>
            <label for="annual-investmentid">Annual Investment</label>
            <input id="annual-investmentid" type="number" name="annual-investment" [(ngModel)] = "annualInvestment" />
        </p>
    </div>
    <div class="input-group">
        <p>
            <label for="expected-returnid">Expected Return</label>
            <input id="expexted-returnid" type="number" name="expected-return" [(ngModel)] = "expectedReturn" />
        </p>
        <p>
            <label for="durationid">Duration</label>
            <input id="durationid" type="number" name="duration" [(ngModel)] = "duration" />
        </p>
    </div>
    <p>
        <button type="submit" >Calculate</button>
    </p>
</form>
